.section-file {
    height: 76px;
    position: relative;
    border-radius: 15px;
    background-color: #f1f0ef;

}

.file-content {
    height: 44px;
    background-color: #369763;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.file-name {
    color: #fff;
    margin: 15px;
}

.file-action {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.delete-file, .dowload-file {
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-file:hover, .dowload-file:hover{
    border: 2px solid #fff;
}

.delete-file ,.dowload-file i {
    color: #ffffff;
    font-size: 12px;
}